<h1><%= @dept.name %> - <%= @item.name %></h1>
<hr />
<p>$<%= @item.price %></p>
<br />
<p><%= @item.details %></p>
<br />
<%= link_to 'Edit Item', edit_dept_item_path([@dept, @item]) %>
<br />
<%= link_to 'Delete Item', [@dept, @item], method: :delete %>
<br />
<%= link_to 'Back To Items', dept_items_path(@dept) %>